<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>

      <add key="CAMINHO_DOS_ARQUIVOS" value="\\DESKTOP-SALA\Arquivos"/>
      <add key="NOME_DA_IMPRESSORA" value="Epson Stylus TX125" />

      <add key="CAMINHO_DOS_ARQUIVOS_IMPRESSOS" value="\\DESKTOP-SALA\Arquivos" />
      <add key="NOME_DA_PASTA_DE_ARQUIVOS_IMPRESSOS" value="ArquivosImpressos"/>
      <add key="INTERVALO_DE_RECURSAO" value="30000"/>

    </appSettings>
</configuration>