<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>

      <add key="CAMINHO_DOS_ARQUIVOS" value="CONFIGURAR"/>
      <add key="NOME_DA_IMPRESSORA" value="CONFIGURAR" />

      <add key="CAMINHO_DOS_ARQUIVOS_IMPRESSOS" value="CONFIGURAR" />
      <add key="NOME_DA_PASTA_DE_ARQUIVOS_IMPRESSOS" value="CONFIGURAR"/>

      <add key="CAMINHO_DO_LOG" value="D:\Logs"/>

    </appSettings>
</configuration>